<!DOCTYPE html>
<html lang="en">
<head>
    <title>navbar page</title>
    <link rel="stylesheet" href="/style2.css" />
</head>
<body>
    <div class="box1">
        <a class="box11"  style="color: green;font-weight: bolder;">mypad*`'/.</a>
        <a class="box11" id="box111"  href="/home">Home</a>
        <a class="box11" id="box111" href="/add">Add </a>
        <a class="box11" id="box111" href="/search">Search</a> 
    </div>
   <div class="box2" >
    <form action="/aaded"  method="GET">
        <input type="text" class="a123"  id="a1234"   name="query" placeholder="  Tital" />

        <label for="content">Content</label>
        <textarea  input type="text"  class="a123"  id="b1234"   rows="10"  name="query"></textarea>
        

        <button type="submit">Add</button>
      </form>
   </div>
</body>
</html>