<!DOCTYPE html>
<html lang="en">
<head>
    <title>navbar page</title>
    <link rel="stylesheet" href="/style2.css" />
</head>
<body>
    <div class="box1">
        
       <a class="box11"  style="color: green;font-weight: bolder;">mypad*`'/.</a>
        
       
    </div>
    
    <div class="box2">
        <form action="/index"  method="POST">
            <input type="text" class="a123"  id="a1234"   name="query" placeholder=" Inter Name" />
    
            <input type="text" class="a123"  id="b1234"   name="query" placeholder=" Inter E-Mail" />
    
            <button type="submit">SignIn</button>
          </form>
    </div>
</body>
</html>